﻿
@{
    ViewBag.Title = "Index";
}
<section id="cacmucqua">
    <div class="cacmucqua">
        <div class="tieude">
            <h2>CÁC MỨC QUÀ</h2>
        </div>

        <div class="listqua">
            <h4>ÁP DỤNG CHO NHÃN HÀNG GUTFINI</h4>
            <ul>
                <li class="col-md-4">
                    <img src="~/image/6diem.png" alt="doi-30-hop-bigbb" class="img-responsive wow bounceInLeft" />
                </li>
                <li class="col-md-4">
                    <img src="~/image/12diem.png" alt="doi-15-hop-bigbb" class="img-responsive wow bounceInRight" />
                </li>
                <li class="col-md-4">
                    <img src="~/image/18diem.png" alt="doi-10-hop-bigbb" class="img-responsive wow bounceInLeft" />
                </li>
            </ul>
            <ul>
                <li class="col-md-6">
                    <img src="~/image/24diem.png" alt="doi-6-hop-bigbb" class="img-responsive wow bounceInRight" />
                </li>
                <li class="col-md-6">
                    <img src="~/image/30diem.png" alt="doi-6-hop-bigbb" class="img-responsive wow bounceInRight" />
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="thoigianapdung">
    <div class="thoigianapdung">
        <div class="tieude">
            <h2>THỜI GIAN ÁP DỤNG</h2>
        </div>
        <div class="content">
            <h4>Từ ngày: 01/01/2021 đến hết ngày 31/12/2021</h4>
        </div>
    </div>
</section>
<section id="cachtichdiem">
    <div class="cachtichdiem">
        <div class="tieude">
            <h2>CÁCH TÍCH ĐIỂM ĐỔI QUÀ</h2>
        </div>
        <div class="cachdoiqua">
            <div class="buoc1">
                <h3>BƯỚC 1: TÌM THẺ CÀO TÍCH ĐIỂM TRÊN NẮP MỖI HỘP HOẶC MỖI LỌ GUTFINI</h3>
                <ul>
                    <li class="col-md-6">
                        <div class="">
                            <img src="~/image/vohopgutfini.png" alt="vỏ hộp GUTFINI" class="img-responsive wow zoomIn" />
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div class="">
                            <img src="~/image/zoomhop.png" alt="GUTFINI" class="img-responsive wow zoomIn" />
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="col-md-6">
                        <div class="">
                            <img src="~/image/logutfini.png" alt="vương đường khang dạng lọ" class="img-responsive wow zoomIn" />
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div class="">
                            <img src="~/image/zoomlo.png" alt="sản phẩm vương đường khang dạng lọ" class="img-responsive wow zoomIn" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buoc2">
                <h3>BƯỚC 2: CÀO THẺ LẤY MÃ SỐ VÀ TÍCH ĐIỂM BẰNG MỘT TRONG HAI CÁCH</h3>
                <div class="col-md-6">
                    <h5>Cách 1: Tích điểm qua tổng đài 8077</h5>
                    <img src="~/image/tichdiem.png" alt="cac-buoc-thuc-hien-tich-diem-GUTFINI" class="img-responsive wow rotateInUpLeft" />
                </div>
                <div class="col-md-6">
                    <h5>Cách 2: Tích điểm trực tiếp tại đây (miễn phí)</h5>
                    @*<p>Đăng ký hoặc đăng nhập tài khoản để tích điểm</p>*@
                    <div class="box">
                        <div class="form-wrap">
                            <form id="form-contact" class="form" method="post">
                                <div class="">
                                    <fieldset>
                                        <div class="form-group">
                                            <input type="tel" name="phone" id="phone" required="required" placeholder="Nhập số điện thoại tích điểm tại đây">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="code" id="password" required="required" placeholder="Nhập mã thẻ cào tại đây">
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <input type="text" name="commandcode" id="commandcode" value="tichdiem">
                                        </div>
                                        <div class="form-group">
                                            <button id="btnSend" type="button" class="btn btn-primary btn-submit">
                                                Tích điểm
                                            </button>
                                            <img src="~/image/ajax-loader.gif" class="loader" id="loader" style="display:none;" />
                                            @*<button id="btnSend" type="submit" class="btn btn-primary btn-submit dk">
                                                    Đăng ký
                                                </button>*@
                                        </div>
                                        <div class="form-group">
                                            <p style="display:none;" id="txtmess" class="text-warning wow bounceInRight"></p>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chuthich">
                <h4>Với mỗi mã số tin nhắn thành công bạn sẽ được tính 1 điểm đối với dạng hộp và 3 điểm đối với dạng lọ</h4>
                <h4 class="note">Lưu ý:</h4>
                <ul>
                    <li>
                        Điểm tích lũy được ghi nhận theo số điện thoại. Quý khách chỉ sử dụng 1 số điện thoại để tích điểm, nếu sử dụng 2 số điện thoại, hệ thống sẽ ghi nhận 2 số điện thoại khác nhau.
                    </li>
                    <li>
                        Chương trình áp dụng cho tất cả các khách hàng sử dụng sản phẩm Thực phẩm bảo vệ sức khỏe GUTFINI trên toàn quốc. Không áp dụng đối với chủ nhà thuốc hoặc cửa hàng để kinh doanh.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="tracuudiem">
    <div class="tracuudiem">
        <div class="tieude">
            <h2>TRA CỨU ĐIỂM</h2>
        </div>
        <div class="content">
            <div class="col-md-6">
                <h5>Cách 1: Tra cứu qua tổng đài 8077</h5>
                <img src="~/image/tracuu.png" alt="tra-cuu-diem-GUTFINI" class="img-responsive wow rotateInUpLeft" />
            </div>
            <div class="col-md-6">
                <h5>Cách 2: Tra cứu điểm tại đây (miễn phí)</h5>
                <div class="box">
                    <div class="form-wrap">
                        <form id="mform-contact" class="form" method="post">
                            <div class="">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="tel" name="phone" id="mphone" required="required" placeholder="Nhập số điện thoại tích điểm tại đây">
                                    </div>
                                    @*<div class="form-group">
                                            <input type="password" name="password" id="mpassword" required="required" placeholder="Nhập mật khẩu tại đây">
                                        </div>*@
                                    <div class="form-group" style="display:none;">
                                        <input type="text" name="commandcode" id="mcommandcode" value="kiemtra">
                                    </div>
                                    <div class="form-group">
                                        <button id="mbtnSend" type="button" class="btn btn-primary btn-submit">
                                            Tra cứu
                                        </button>
                                        <img src="~/image/ajax-loader.gif" class="loader" id="mloader" style="display:none;" />
                                        @*<button id="btnSend" type="submit" class="btn btn-primary btn-submit dk">
                                                Đăng ký
                                            </button>*@
                                    </div>
                                    <div class="form-group">
                                        <p style="display:none;" id="mtxtmess" class="text-warning wow bounceInRight"></p>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cachdoiqua">
    <div class="cachdoiqua">
        <div class="tieude">
            <h2>CÁCH NHẬN QUÀ</h2>
        </div>
        <div class="content">
            <h4>Khi đã tích đủ số điểm tương ứng với món quà tương ứng, bạn có thể đổi quà bằng một trong 2 cách sau:</h4>
            <div class="col-md-6">
                <h5>Cách 1: Nhắn tin theo cú pháp</h5>
                <img src="~/image/doiqua.png" alt="đổi quà GUTFINI " class="img-responsive wow rotateInDownLeft" />
                <p class="mota">Nhãn hàng sẽ gọi điện lại cho bạn trong vòng 72 giờ và sẽ chuyển đến trong thời gian sớm nhất.</p>
            </div>
            <div class="col-md-6">
                <h5>Cách 2: Đổi quả trực tiếp tại đây (miễn phí)</h5>
                <div class="box">
                    <div class="form-wrap">
                        <form id="dform-contact" class="form" method="post">
                            <div class="">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="tel" name="phone" id="dphone" required="required" placeholder="Nhập số điện thoại để đổi quà">
                                    </div>
                                    @*<div class="form-group">
                                <input type="password" name="password" id="mpassword" required="required" placeholder="Nhập mật khẩu tại đây">
                            </div>*@
                                    <div class="form-group" style="display:none;">
                                        <input type="text" name="commandcode" id="dcommandcode" value="doiqua">
                                    </div>
                                    <div class="form-group">
                                        <button id="dbtnSend" type="button" class="btn btn-primary btn-submit">
                                            Đổi quà
                                        </button>
                                        <img src="~/image/ajax-loader.gif" class="loader" id="dloader" style="display:none;" />
                                        @*<button id="btnSend" type="submit" class="btn btn-primary btn-submit dk">
                                    Đăng ký
                                </button>*@
                                    </div>
                                    <div class="form-group">
                                        <p style="display:none;" id="dtxtmess" class="text-warning wow bounceInRight"></p>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
                <p style="text-align:center;">Quà sẽ được chuyển đến cho bạn trong thời gian sớm nhất</p>
            </div>
    </div>
</section>
<section id="khuyencao">
    <div class="khuyencao">
        <div class="tieude">
            <h2>THÔNG TIN SẢN PHẨM</h2>
        </div>
		<div class="content">
			<img src="~/image/thongtinsanpham.png" alt="thong-tin-san-pham-gutfini-2021" class="img-responsive" />
		</div>
       <p>*Sản phẩm này không phải là thuốc,không có tác dụng thay thế thuốc chữa bệnh.</p>
        <ul>
            <li class="col-md-3"></li>
            <li class="col-md-3">
                <a href="https://gutfini.com/diem-ban/">
                    <img src="~/image/diemban.png" alt="xem-diem-ban-vuong-gut-khang" class="img-responsive wow slideInUp" />
                </a>
            </li>
            <li class="col-md-3">
                <a href="#">
                    <img src="~/image/dathangonline.png" alt="dat-hang-online-GUTFINI" class="img-responsive wow slideInRight" />
                </a>
            </li>
            <li class="col-md-3"></li>
        </ul>
        <h4>Hotline chương trình quà tặng:</h4>
        @*<div class="divhotline">
                <a href="tel:0969905896">
                    <img src="~/image/icon-hotline.png" alt="hotline" class="img-responsive icon-hotline" />
                </a>
            </div>*@
        <div style="display:table; margin:0 auto;">
            <a href="tel:0969905896">
                <span style="vertical-align:middle;display:table-cell;"><img src="~/image/icon-hotline.png" /></span>
                <span style="vertical-align:middle;display:table-cell;font-size:32px;color:#ed1f24;font-weight:bold;">0969 905 896</span>
            </a>
        </div>
    </div>
</section>
